/* GENERAL */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* NAVBAR SECTION */
#navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #be3144;
  position: fixed;
}

#navbar ul {
  display: flex;
  margin-right: 16px;
}

#navbar ul li {
  margin: 10px;
  font-size: 24px;
  font-weight: 500;
}

#navbar ul li a {
  color: #fff;
}

/* WELCOME SECTION */
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #3a3d40;
}

#welcome-section h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
}

#welcome-section p {
  color: #be3144;
  font-size: 2.5rem;
  font-weight: 200;
  font-style: italic;
  text-align: center;
}

/* PROJECTS SECTION */
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #45567d;
}

#projects h2 {
  font-size: 3rem;
  text-align: center;
  color: #fff;
  padding: 50px;
}

.project-grid {
  width: 60%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 350px);
  grid-gap: 30px;
}

.project-grid a img {
  height: 300px;
  width: 100%;
  min-width: 300px;
  max-width: 400px;
}

.project-grid a p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303841;
  color: #fff;
  font-size: 20px;
  height: 46px;
  min-width: 300px;
  max-width: 400px;
}

#projects button {
  background-color: #303841;
  color: #fff;
  width: 150px;
  height: 46px;
  border-radius: 5px;
  font-size: 18px;
  margin: 40px;
}

@media (max-width: 768px) {
  .project-grid {
    display: flex;
    flex-direction: column;
  }
}
/* CONTACT SECTION */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #303841;
  height: 60vh;
  color: #fff;
}

#contact h2 {
  font-size: 2.5rem;
  margin: 50px;
}

.socials a {
  color: #fff;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 2px 1px #1f1f1f;
  margin: 14px;
}

.socials a:hover {
  color: #be3144;
}

/* FOOTER SECTION */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #303841;
  color: #fff;
  border-top: 4px solid #be3144;
}
