@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
}

section {
  height: 100vh;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

/* navbar styling*/
#toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: #000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border: 2px solid #fff;
}

#toggle::before {
  content: " ";
  position: absolute;
  width: 28px;
  height: 2px;
  background-color: #fff;
  transform: translateY(-5px);
  transition: 0.2s;
}

#toggle::after {
  content: " ";
  position: absolute;
  width: 28px;
  height: 2px;
  background-color: #fff;
  transform: translateY(5px);
  transition: 0.2s;
}

#toggle.active::before {
  transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
}

#sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background-color: #000;
  transition: 0.5s;
  z-index: 10;
}

#sidebar.active {
  left: 0px;
}

#sidebar ul {
  position: relative;
  margin-top: 50px;
}

#sidebar ul li {
  display: inline-block;
  width: 100%;
  padding: 10px 40px;
}

#sidebar ul li:hover {
  background-color: #222;
}

#sidebar ul li a {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 2px;
  font-family: "Josefin Sans", sans-serif;
}

/* hero styling */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero h1 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 300;
  color: #fff;
  border: #fff solid;
  padding: 1rem;
  margin: 2.5rem;
  backdrop-filter: blur(25px);
  line-height: 1.3;
}

@media (min-width: 425px) {
  #hero h1 {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  #hero h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  #hero h1 {
    font-size: 3rem;
  }
}

/* projects styling */
#projects {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  padding: 1.5rem 2rem;
  position: relative;
}

#projects .title {
  margin-bottom: 2rem;
}

.proj-container {
  height: 75vh;
}

.proj {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 30%;
  margin-bottom: 1.3rem;
  cursor: pointer;
}

.proj1 {
  background-image: url(images/product_landing_page.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.proj1:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/product_landing_page.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.proj2 {
  background-image: url(images/landing-page.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.proj2:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/landing-page.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.proj3 {
  background-image: url(images/1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.proj3:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.proj button {
  width: 150px;
  height: 30px;
  font-family: "Alata", sans-serif;
  font-size: 1rem;
  margin: 1rem;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: #000 1px solid;
}

.proj button:hover,
.proj button:focus {
  background-color: #fff;
  color: #000;
}

#projects .cta {
  height: 30px;
  width: 130px;
  background-color: #fff;
  border: #000 2px solid;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
}

#projects .cta a {
  font-weight: bolder;
  font-size: 1rem;
  color: #000;
}

#projects .cta a:hover {
  color: #555;
}

.text-container {
  display: none;
}

@media (min-width: 768px) {
  .proj-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    margin: 0 auto;
  }

  .proj {
    height: 100%;
    width: 90%;
  }

  .text-container {
    display: grid;
    margin: 3rem auto;
  }

  .text-container h3 {
    margin-bottom: 1rem;
  }

  .text-container {
    display: none;
  }
}

@media (min-width: 1024px) {
  .proj-container {
    grid-template-columns: auto auto auto;
    width: 90%;
    height: 60%;
  }

  #projects .title {
    display: flex;
    justify-content: center;
  }

  #projects h2 {
    font-size: 2.5rem;
  }

  .text-container {
    display: flex;
    grid-template-columns: auto auto auto;
    width: 90%;
    height: 30%;
  }
}

/* about styling */
#about {
  padding: 4rem 0;
  width: 80%;
  margin: 0 auto;
}

#about h2 {
  margin-top: 1rem;
  text-align: center;
}

#about p {
  text-align: justify;
  font-family: "Alata", sans-serif;
  font-size: 1rem;
  color: rgb(83, 80, 80);
  line-height: 2;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  #about {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #about p {
    margin-left: 3rem;
  }

  #about img {
    height: 50%;
  }
}

@media (min-width: 1024px) {
  #about {
    width: 75%;
  }

  .text h2 {
    font-size: 2.5rem;
  }

  #about p {
    width: 80%;
  }

  #about img {
    height: 70%;
  }
}

/* skills styling */
#skills {
  padding: 1.5rem 2rem;
}

#skills img:hover {
  transform: translateY(-20px);
  transition: transform 350ms;
}

.icons {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 1rem;
  padding: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.item p {
  margin-top: 0.7rem;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Alata", sans-serif;
}

@media (min-width: 375px) {
  .item img {
    height: 75px;
  }
}

@media (min-width: 425px) {
  .icons {
    gap: 4rem;
  }
}

@media (min-width: 768px) {
  #skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icons {
    grid-template-columns: auto auto auto;
  }

  .item img {
    height: 90px;
  }
}

@media (min-width: 1024px) {
  #skills h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .icons {
    gap: 5rem 7rem;
  }

  .item img {
    height: 120px;
  }
}

/* contact styling */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2rem;
}

#contact form {
  display: flex;
  flex-direction: column;
}

#contact label {
  font-family: "Alata", sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
}

#contact input,
#contact textarea {
  font-style: italic;
  padding: 0.3rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

#contact .cta {
  height: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bolder;
  font-style: normal;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: #000 1px solid;
}

#contact .cta:hover {
  background-color: #fff;
  color: #000;
}

@media (min-width: 768px) {
  #contact {
    width: 50%;
    margin: 0 auto;
  }

  #contact form {
    margin-top: 3rem;
  }
}

@media (min-width: 1024px) {
  #contact h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 4rem;
  }

  #contact form {
    margin-top: 3rem;
  }
}

/* footer styling */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
  background-color: #000;
  color: #fff;
  font-size: 0.8rem;
}

footer a {
  color: #fff;
}

.left h4 {
  margin-bottom: 1.5rem;
}

.left .left-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 16vh;
}

.right {
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-links {
  display: flex;
  justify-content: space-evenly;
}

.socials {
  background-color: #fff;
  height: 1rem;
}

@media (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem;
    font-size: 1rem;
  }

  .right {
    height: 8rem;
  }

  .right p {
    margin-bottom: 2rem;
  }

  .left {
    height: 8rem;
  }

  .left .left-links {
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  .left-links li a {
    margin-right: 0.5rem;
  }
}

@media (min-width: 1024px) {
  footer {
    padding: 12rem;
    font-size: 1.2rem;
  }

  .right-links img {
    height: 1.5rem;
  }

  .left-links li a {
    margin-right: 1rem;
  }
}
