@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
}

section {
  height: 100vh;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

/* navbar styling*/
header {
  position: fixed;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  z-index: 9999;
}

.logo a {
  margin: 2rem;
  font-family: "Alata", sans-serif;
  color: #fff;
}

.navbar {
  display: flex;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  height: 100vh;
  position: fixed;
  inset: 0 0 0 30%;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 2em;
  padding: min(30vh, 10rem) 2em;
  background-color: #000;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 350ms ease-out;
}

.navbar li a {
  margin-right: 2rem;
  color: #fff;
}

.navbar li a:hover,
.navbar li a:focus {
  color: #ddd;
}

.navbar[data-visible="true"] {
  transform: translateX(0%);
}

.toggle {
  display: block;
  position: absolute;
  z-index: 9999;
  background-color: transparent;
  background-image: url("images/icon-hamburger.svg");
  background-repeat: no-repeat;
  width: 2rem;
  border: 0;
  aspect-ratio: 1;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.toggle[aria-expanded="true"] {
  background-image: url("images/icon-close.svg");
}

/* hero styling */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero h1 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 2.7rem;
  font-weight: 300;
  color: #fff;
  border: #fff solid;
  padding: 2rem;
  margin: 2.5rem;
  backdrop-filter: blur(25px);
  line-height: 1.3;
}

#hero span {
  display: block;
}

/* projects styling */
#projects {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  padding: 6rem 2rem;
  position: relative;
}

.proj {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 28%;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.proj1 {
  background-image: url(images/product_landing_page.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.proj1:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/product_landing_page.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.proj2 {
  background-image: url(images/technical_documentation_page.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.proj2:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/technical_documentation_page.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.proj3 {
  background-image: url(images/1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.proj3:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.proj button {
  width: 150px;
  height: 30px;
  font-family: "Alata", sans-serif;
  font-size: 1rem;
  margin: 1rem;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: #000 1px solid;
}

.proj button:hover,
.proj button:focus {
  background-color: #fff;
  color: #000;
}

#projects .cta {
  height: 30px;
  width: 130px;
  background-color: #fff;
  border: #000 2px solid;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  bottom: 24px;
}

#projects .cta a {
  font-weight: bolder;
  font-size: 1rem;
  color: #000;
}

#projects .cta a:hover {
  color: #555;
}

/* about styling */
#about {
  padding: 7rem 2rem;
}

#about p {
  text-align: justify;
  font-family: "Alata", sans-serif;
  font-size: 1.2rem;
  color: rgb(83, 80, 80);
  line-height: 2;
}

/* skills styling */
#skills {
  padding: 7rem 2rem;
}

#skills img:hover {
  transform: translateY(-20px);
  transition: transform 350ms;
}

.icons {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 2rem;
  padding: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.item p {
  margin-top: 0.7rem;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Alata", sans-serif;
}

/* contact styling */
#contact {
  padding: 7rem 2rem;
}

#contact form {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

#contact label {
  font-family: "Alata", sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
}

#contact input,
#contact textarea {
  font-style: italic;
  padding: 0.3rem;
  font-weight: 500;
  margin: 1rem 0;
}

#contact .cta {
  height: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bolder;
  font-style: normal;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: #000 1px solid;
}

#contact .cta:hover {
  background-color: #fff;
  color: #000;
}

/* footer styling */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 35vh;
  background-color: #000;
  color: #fff;
  font-size: 0.8rem;
}

footer a {
  color: #fff;
}

.left h4 {
  margin-bottom: 1.5rem;
}

.left .left-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 16vh;
}

.right-links {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}
